* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(202, 201,  201);
    height: 7vh;
    width: 80vw;
    margin-top: -11.5rem;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    position: fixed;
    z-index: 1000;
}

.logo-header {
    position: absolute;
    left: 1vw;
}

.logo-header img{
    width: 80px;
    height: auto;
    transition: ease 0.3s;
}

.logo-header img:hover{
    transform: scale(1.05);
}

.navegacao ul{
    display: flex;
}

.navegacao li{
    padding: 1.7rem;
    list-style: none;
    font-size: 18px;
    transition: ease 0.3s;
}

.navegacao li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navegacao li:hover{
    transform: scale(1.05);
}

.pesquisa{
    position: absolute;
    right: 5vw;
}

.pesquisa textarea{
    align-content: center;
    padding-left: 12px;
    width: 15vw;
    background-color: rgb(219, 217, 217);
    border-radius: 50px;
    border: 1px solid gray;
    transition: ease 0.3s;
}

.pesquisa textarea:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

.topo-direita{
    background-color: white;
    border: 2px solid #3F795E;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: 1vw;
    top: 1vh;
    text-align: center;
    align-content: center;
    transition: ease 0.3s;
}

.topo-direita i{
    font-size: 28px;
    color: #3F795E;
}

/* Header */

main{
    padding-bottom: 15vh;
}

.area-produto{
    width: 50%;
    height: 50vh;
    background-color: whitesmoke;
    border: 0px solid;
    border-radius: 15px;
    justify-self: center;
    display: flex;
    align-items: center; 
    margin-top: 13rem;
}

.imagem img{
    justify-self: left;
    border-radius: 15px;
    margin-left: 5rem;
    width: 20vw;
    height: auto;
}

.info{
    margin-left: 2rem;
    margin-right: 5rem;
}

.info h1{
    font-size: 24px;
}

.info h2{
    font-size: 18px;
    font-weight: normal;
    margin-top: 5%;
}

.info h1 i{
    color: rgb(224, 224, 1);
}

.info h1 span{
    font-weight: normal;
    font-size: 16px;
    color: gray;
}

.info h3{
    margin-top: 1.5rem;
}

.botao-compras{
    cursor: pointer;
    background-color: #3F795E;
    padding: 7px;
    border-radius: 10px;
    color: white;
}

.detalhes{
    justify-self: center;
    margin-top: 0.5rem;
}

.detalhes summary{
    cursor: pointer;
}

.detalhes details{
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    width: 50vw;
    border: 0px solid;
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
    position: static;
    padding: 1rem;
}

.info-detalhes{
    font-size: 18px;
    font-weight: normal;
    margin-top: 1.5rem;
    text-align: left;
}


.detalhes p{
    font-size: 18px;
    font-weight: normal;
}

.info-detalhes i{
    color: rgb(224, 224, 1);
}

/* Main */

footer{
    background-color: black;
    height: 25vh;
    background-color: rgb(202, 201, 201);
    display: flex;
    justify-content: center;
}

.suporte {
    padding: 3rem;
}

.suporte h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.suporte ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.suporte li{
    transition: ease 0.3s;
    cursor: pointer;
}

.suporte li:hover{
    transform: scale(1.03);
}

.institucional {
    padding: 3rem;
}

.institucional h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.institucional ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.institucional li{
    transition: ease 0.3s;
    cursor: pointer;
}

.institucional li:hover{
    transform: scale(1.03);
}

.destaques {
    padding: 3rem;
}

.destaques li:hover{
    transform: scale(1.03);
}

.destaques h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.destaques ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.destaques li{
    transition: ease 0.3s;
    cursor: pointer;
}

.destaques li:hover{
    transform: scale(1.03);
}

/* Footer */