* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(202, 201, 201);
    height: 7vh;
    width: 80%;
    margin-top: -8.5rem;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    position: fixed;
    z-index: 1000;
}

.logo-header {
    position: absolute;
    left: 1vw;
}

.logo-header img{
    width: 80px;
    height: auto;
    transition: ease 0.3s;
}

.logo-header img:hover{
    transform: scale(1.05);
}

.navegacao ul{
    display: flex;
}

.navegacao li{
    padding: 1.7rem;
    list-style: none;
    font-size: 18px;
    transition: ease 0.3s;
}

.navegacao li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navegacao li:hover{
    transform: scale(1.05);
}

.pesquisa{
    position: absolute;
    right: 2vw;
}

.pesquisa textarea{
    align-content: center;
    padding-left: 12px;
    width: 15vw;
    background-color: rgb(219, 217, 217);
    border-radius: 50px;
    border: 1px solid gray;
    transition: ease 0.3s;
}

.pesquisa textarea:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

/* Header */

.mais-vendidos{
    margin-top: 10rem;
    justify-content: center;
    display: flex;
    text-align: center;
}

.divisoria {
    display: inline-block;
    width: 50px;
    border: 5px solid #3F795E;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
}

.container-card {
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 15vw;
    height: 40vh;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 5px 12px black;
    background-color: rgb(204, 204, 204);
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: ease 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card span {
    font-size: 14px;
    font-weight: normal;
}

.card img{
    max-width: 100%;
    width: 100%;
    height: 60%;
}

/* Mais Vendidos(Home) */

.produtos {
    margin-top: 5rem;
    justify-content: center;
    height: 100vh;
    align-content: center;
}

.produtos-titulo{
    display: flex;
    justify-self: center;
    width: 60%;
    height: 8vh;
    border: 0px;
    background-color: #3F795E;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.container-produtos{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card-produtos {
    height: 40vh;
    width: 15vw;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    font-weight: bold;
    font-size: 16px;
    gap: 15px;
    text-align: center;
    transition: ease 0.3s;
}

.card-produtos:hover{
    transform: scale(1.05);
}

.card-produtos img{
    max-width: 100%;
    width: 100%;
    height: 50%;
}

.botao-compras{
    background-color: #3F795E;
    padding: 7px;
    border-radius: 10px;
    color: white;
}

.texto-produtos{
    font-size: 14px;
    font-weight: normal;
    margin: 0.5rem;
}

/* Produtos */

.contato {
    justify-content: center;
    margin-top: 0;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-contato{
    width: 35vw;
    height: 53vh;
    background-color: #3F795E;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-align: center;
}

.titulo-contato{
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.card-contato form{
    margin-top: 2.5rem;
}

.card-contato input{
    transition: ease 0.3s;
}

.card-contato input:hover{
    transform: scale(1.05);
}

.nome{
    border-radius: 10px;
    border: none;
    padding: 8px;
    height: 4vh;
    width: 12vw;
    margin-right: 2rem;
}

.ddd{
    border-radius: 10px;
    border: none;
    padding: 8px;
    width: 5vw;
    height: 4vh;
}

.telefone{
    border-radius: 10px;
    border: none;
    padding: 8px;
    height: 4vh;
}

.formulario textarea{
    margin-top: 1.5rem;
    width: 80%;
    border-radius: 10px;
    height: 20vh;
    padding: 8px;
    transition: ease 0.3s;
}

.formulario textarea:hover{
    transform: scale(1.03);
}

.formulario button{
    padding: 5px;
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    width: 5.5vw;
    height: 4.5vh;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: ease 0.3s;
}

.formulario button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px black;
}

/* Contato */

footer{
    background-color: black;
    height: 25vh;
    background-color: rgb(202, 201, 201);
    display: flex;
    justify-content: center;
}

.suporte {
    padding: 3rem;
}

.suporte h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.suporte ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.suporte li{
    transition: ease 0.3s;
    cursor: pointer;
}

.suporte li:hover{
    transform: scale(1.03);
}

.institucional {
    padding: 3rem;
}

.institucional h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.institucional ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.institucional li{
    transition: ease 0.3s;
    cursor: pointer;
}

.institucional li:hover{
    transform: scale(1.03);
}

.destaques {
    padding: 3rem;
}

.destaques li:hover{
    transform: scale(1.03);
}

.destaques h1{
    text-align: left;
    margin-top: 0.2rem;
    font-size: 24px;
}

.destaques ul{
    color: #3F795E;
    list-style: none;
    margin-top: 0.5rem;
}

.destaques li{
    transition: ease 0.3s;
    cursor: pointer;
}

.destaques li:hover{
    transform: scale(1.03);
}